.label-main {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.btn-label {
  width: 10rem;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-label:hover,
.selected {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-priority,
.btn-date {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-color);
}

/**Media Queries **/
@media screen and (max-width: 920px) {
  .label-main {
    display: flex;
    flex-direction: column;
    margin: 6rem 2rem 3rem 2rem;
  }

  .conatiner-label-notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar-small-screen-label-page {
    display: none;
  }

  .container-labels-small-screen, .container-priority-small-screen, .container-date-small-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
