.display-card {
  height: fit-content;
  width: 40rem;
  position: relative;
  border: transparent;
  border-radius: 8px;
}

.display-card-empty {
  width: 40rem;
  height: 10rem;
}

.btn-pinned {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: default;
}

.btn-archive,
.btn-delete {
  color: var(--text-color2);
}

.btn-archive:hover,
.btn-delete:hover {
  color: var(--primary-color);
}

.btn-edit-display-card {
  box-shadow: none;
}

.btn-edit-display-card:hover {
  transform: scale(1);
}

.tag,
.priority {
  background-color: var(--white);
  border-radius: 7px;
  padding: 6px 8px;
}

.active {
  color: var(--primary-color);
}

/** Media Queries **/
@media screen and (max-width: 920px) {
  .display-card,
  .display-card-empty {
    width: 35rem;
  }
}
