.home-main {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.btn-create-new-card-small-screen {
  display: none;
}

.btn-create-new-note-desktop-screen {
  margin-top: 14rem;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
}

/**Media Queries **/
@media screen and (max-width: 920px) {
  .home-main {
    display: flex;
    flex-direction: column;
    margin: 6rem 2rem 3rem 2rem;
  }

  .conatiner-pinned-notes,
  .conatiner-other-notes,
  .container-input-notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar-small-screen-home-page {
    display: none;
  }

  .btn-create-new-card-small-screen {
    display: block;
  }
}
