.container-input-new-note {
  height: fit-content;
  width: 40rem;
  position: relative;
  border: transparent;
  border-radius: 0.5rem;
}

.title-new-note,
.text-new-note {
  width: 100%;
  background: transparent;
  border: none;
  padding-right: 2rem;
  outline: none;
  word-wrap: break-word;
  resize: none;
}

.title-new-note {
  height: 4rem;
}

.text-new-note {
  height: 5rem;
}

.btn-pinned {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-color {
  color: var(--text-color2);
}

.btn-add-new-note {
  box-shadow: none;
}

.btn-add-new-note:hover {
  transform: scale(1);
}

.active {
  color: var(--primary-color);
}
