.pd-0 {
    padding: 0;
}

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.pdt-0-5 {
    padding-top: 0.5rem;
}

.pdr-0-5 {
    padding-right: 0.5rem;
}

.pdb-0-5 {
    padding-bottom: 0.5rem;
}

.pdl-0-5 {
    padding-left: 0.5rem;
}

.pdt-1 {
    padding-top: 1rem;
}

.pdr-1 {
    padding-right: 1rem;
}

.pdb-1 {
    padding-bottom: 1rem;
}

.pdl-1 {
    padding-left: 1rem;
}


.pdt-2 {
    padding-top: 2rem;
}

.pdr-2 {
    padding-right: 2rem;
}

.pdb-2 {
    padding-bottom: 2rem;
}

.pdl-2 {
    padding-left: 2rem;
}


.pdt-3 {
    padding-top: 3rem;
}

.pdr-3 {
    padding-right: 3rem;
}

.pdb-3 {
    padding-bottom: 3rem;
}

.pdl-3 {
    padding-left: 3rem;
}


.pdt-4 {
    padding-top: 4rem;
}

.pdr-4 {
    padding-right: 4rem;
}

.pdb-4 {
    padding-bottom: 4rem;
}

.pdl-4 {
    padding-left: 4rem;
}

.pdt-5 {
    padding-top: 5rem;
}

.pdr-5 {
    padding-right: 5rem;
}

.pdb-5 {
    padding-bottom: 5rem;
}

.pdl-5 {
    padding-left: 5rem;
}

.pdt-6 {
    padding-top: 6rem;
}

.pdr-6 {
    padding-right: 6rem;
}

.pdb-6 {
    padding-bottom: 6rem;
}

.pdl-6 {
    padding-left: 6rem;
}