/* sidebar */
.sidebar {
  margin-left: 3rem;
}

.sidebar-item {
  cursor: pointer;
  padding: 4.2px 1rem;
  width: fit-content;
  border-radius: 7px;
  color: var(--text-color1);
  transition: all 0.5s ease;
}

.sidebar-item:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn-create-new-note {
  height: 2rem;
  width: 13rem;
}

.btn-create-new-note:hover {
  transform: scale(1);
}

.selected {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sidebar-small-screen {
  display: block;
  padding: 2rem;
  margin-left: 0.5rem;
  width: 13rem;
}
