.footer {
  position: fixed;
  bottom: 2rem;
  z-index: 2;
}

.email-username {
  color: var(--primary-color);
}

.btn-logout:hover {
  color: var(--primary-color);
}

/**Media Queries **/
@media screen and (max-width: 1260px) {
  .footer {
    display: none;
  }
}
